@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  @apply bg-gray-100;
}

main {
  @apply flex-1 items-center m-10;
}

footer {
  @apply px-4 md:px-6 py-3 bg-slate-600 text-white;
}

input {
  @apply font-semibold border-1 border-gray-300 rounded-md p-1 ;
}

.btn-add {
  @apply bg-blue-300 rounded-lg hover:bg-blue-400 p-1 text-white shadow-md;
}
